@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cascadia Code'),
    url(CascadiaCode-Regular-VTT.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Cascadia Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
